page-post {
    background: #f9f9f9;
    .comment{
        .text-input{
            height: 80px;
            background-color: #ffffff;
        }

    }
    .select-picture {
        padding: 70px 0;
        border: 2px solid #f9f9f9;
        text-align: center;

    }
    .action-sheet-cancel {
        color:red !important;
    }
}
